:root {
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 24px;
    --fs-2xl:36px;
    --fs-48: 48px;
    --fs-64: 64px;

    /* font-weight */

    --fw-700:700;
    --fw-600: 600;

     /* colors */

    --color-blue:#2C49FE;
    --color-skyblue:#40D6FF;
    --color-black:black;
    --color-gray: #666666;
    --dark-gray:#5E5F66;
    --bg-white:#fff;
    --color-white:#fff;
}

@media (max-width:992px) {
    :root {
     --fs-48: 40px;
     --fs-64: 45px;
    }
}
@media (max-width:768px) {
    :root {
     --fs-48: 35px;
     --fs-64: 40px;
    }
}